.button {
  padding: 10px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: $semibold;
  text-align: center;
  width: 100%;

  &--blue {
    background-color: $blue;
  }

  &--green {
    background-color: $green;
  }

  &--purple {
    background-color: $purple;
  }

  &--red {
    background-color: $red;
  }
}

.header-space {
  margin-top: 80px;
}

.box-white {
  background-color: white;
  box-shadow: $boxshadow;
  padding: 20px 40px;
  border-radius: 10px;
}

.form {
  input, textarea {
    width: 100%;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $black;
    padding: 5px;
    font-size: 16px;
  }
}