$black: #494949;
$white: #FAF9F9;
$grey: #c8c8c8;


$lightpurple: #A491D3; 
$purple:#7A5EBF;
$darkpurple:#8777AC;

$lightyellow: #FFE266; 
$yellow:#FFD41F;
$darkyellow:#D0B855;

$lightgreen: #97D8B1; 
$green:#62C489;
$darkgreen:#7CB091;

$lightred: #FFA8AE; 
$red:#FF4F5B;
$darkred:#D3848A;

$lightblue: #B3D7F9; 
$blue:#64ADF3;
$darkblue:#93B0CB;

$boxshadow: 0px 3px 15px rgba(0, 0, 0, 0.08);
