$black: #494949;
$white: #faf9f9;
$grey: #cfcfcf;
$lightgrey: #f7f7f7;

$lightpurple: #a491d3;
$purple: #7a5ebf;
$darkpurple: #8777ac;

$lightyellow: #ffe266;
$yellow: #ffd41f;
$darkyellow: #d0b855;

$lightgreen: #97d8b1;
$green: #62c489;
$darkgreen: #7cb091;

$lightred: #ffa8ae;
$red: #ff4f5b;
$darkred: #d3848a;

$lightblue: #b3d7f9;
$blue: #64adf3;
$darkblue: #93b0cb;

$boxshadow: 0px 3px 15px rgba(0, 0, 0, 0.08);

$mainborderradius: 10px;

// Media queries

$xs: 370px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
